<div class="login-container">

  <div class="login-box">
    <h2>Welcome Back </h2>

    <form [formGroup]="form" (ngSubmit)="login()">
     

      <input type="email" formControlName="email" placeholder="Email">
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small *ngIf="form.get('email')?.errors?.['required']">Email required</small>
        <small *ngIf="form.get('email')?.errors?.['email']">Invalid email</small>
      </div>

      <div class="password-box">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">

        <span class="eye" (click)="togglePassword()">
          <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        </span>

        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
          <small> Password must contain:
  1 Capital, 1 Number, 1 Special Character</small>
        </div>


      </div>

      <button type="button" (click)="login()">Login</button>
    </form>

    <p class="signup-text">
      Don't have an account?
      <a routerLink="/signup">Signup</a>
    </p>

  </div>

</div>